{% extends 'mylist/layout.html' %}

{% block main %}
<a href="{% url 'mylist:mainpage' %}">mainpage</a>
<h1>Mylist</h1>
<a href="{% url 'mylist:production_list' %}">productions</a>
<a href="{% url 'mylist:genre_list' %}">Genres</a>
<a href="{% url 'mylist:year_list' %}">Years</a>
<div class="list">
  <table>
      {% for data in datas %}
      <tr>
        <th><img src="{{ data.title_img.url }}" alt="title image"><a href="{% url 'mylist:title_detail' title_slug=data.title_slug %}">{{ data.title }}</a></th>
      </tr>
      {% endfor %}
  </table>
</div>
{% endblock %}
