<a href="{% url 'mylist:mainpage' %}">mainpage</a>
<a href="{% url 'mylist:mylist' %}">mylist</a>
<h1>title</h1>
<div class="content">
  <p>제목: {{ datas.title }}</p>
  <p>줄거리: {{ datas.summary }}</p>
  <p>장르: <a href="{% url 'mylist:genre_detail' genre_slug=datas.genre.genre_slug %}">{{ datas.genre }}</a></p>
  <p>제작사: <a href="{% url 'mylist:production_detail' production_slug=datas.production.production_slug %}">{{ datas.production }}</a></p>
  <p>제작년도: {{ datas.year }}</p>
  <p>분기: {{ datas.quarter }}</p>
  <p>조회수: {{ datas.viewcount }}</p>
  <p>좋아요: {{ datas.userlikes }}</p>
  <p>싫어요: {{ datas.userdislikes }}</p>
</div>
