<a href="{% url 'mylist:mainpage' %}">mainpage</a>
<a href="{% url 'mylist:mylist' %}">mylist</a>
<h1>title</h1>
<div class="content">
  <p>제목: {{ datas.title }}</p>
  <p>줄거리: {{ datas.summary }}</p>
  <p>장르: <a href="{% url 'mylist:genre_detail' genre_slug=datas.genre1.genre_slug %}">{{ datas.genre1 }}</a>
    {% if datas.genre2 %}
    <a href="{% url 'mylist:genre_detail' genre_slug=datas.genre2.genre_slug %}">{{ datas.genre2 }}</a>
    {% endif %}
    {% if datas.genre3 %}
    <a href="{% url 'mylist:genre_detail' genre_slug=datas.genre3.genre_slug %}">{{ datas.genre3 }}</a>
    {% endif %}
  </p>
  <p>제작사: <a href="{% url 'mylist:production_detail' production_slug=datas.production.production_slug %}">{{ datas.production }}</a></p>
  <p>제작년도: <a href="{% url 'mylist:year_detail' year_slug=datas.year.year_slug %}"></a>{{ datas.year }}</p>
  <p>분기: {{ datas.quarter }}</p>
  <p>조회수: {{ datas.viewcount }}</p>
  <p>좋아요: {{ datas.userlikes }}</p>
  <p>싫어요: {{ datas.userdislikes }}</p>
</div>
