{% extends 'mylist/layout.html' %}

{% block main %}
<a href="{% url 'mylist:mainpage' %}">mainpage</a>
<a href="{% url 'mylist:mylist' %}">mylist</a>
<h1>title</h1>
<div class="content">
  <table>
    <tr>
      <th>제목</th>
    </tr>
    <tr>
      <td>{{ datas.title }}</td>
    </tr>
    <tr>
      <th>줄거리</th>
    </tr>
    <tr>
      <td>{{ datas.summary }}</td>
    </tr>
  </table>
  <table>
    <tr>
      <th>장르</th>
      <th>제작사</th>
      <th>제작년도</th>
      <th>분기</th>
    </tr>
    <tr>
      <td><a href="{% url 'mylist:genre_detail' genre_slug=datas.genre1.genre_slug %}">{{ datas.genre1 }}</a>
        {% if datas.genre2 %}
        <a href="{% url 'mylist:genre_detail' genre_slug=datas.genre2.genre_slug %}">{{ datas.genre2 }}</a>
        {% endif %}
        {% if datas.genre3 %}
        <a href="{% url 'mylist:genre_detail' genre_slug=datas.genre3.genre_slug %}">{{ datas.genre3 }}</a>
        {% endif %}</td>
        <td><a href="{% url 'mylist:production_detail' production_slug=datas.production.production_slug %}">{{ datas.production }}</a></td>
        <td><a href="{% url 'mylist:year_detail' year_slug=datas.year.year_slug %}">{{ datas.year }}</a></td>
        <td>{{ datas.quarter }}</td>
    </tr>
  </table>
  <table>
    <tr>
      <th>좋아요</th>
      <th>조회수</th>
      <th>싫어요</th>
    </tr>
    <tr>
      <td>{{ datas.userlikes }}</td>
      <td>{{ datas.viewcount }}</td>
      <td>{{ datas.userdislikes }}</td>
    </tr>
  </table>
</div>
{% endblock %}
